<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>GTKN!</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

  <body style="background-color:black;text-align:center">
    <nav>
      <ul class="navBar">
        <input type="checkbox" id="check">
        <span class="menu">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('reportEvent') }}">Report Event</a></li>
          <li><a href="{{ url_for('support') }}">Support</a></li>
          <label for="check" class="closeMenu"><i class="fas fa-times"></i></label>
        </span>
        <label for="check" class="openMenu"><i class="fas fa-bars"></i></label>
      </ul>
    </nav>
          <div class="background revealable active">
          <h1 id="titleLettering">Support GTKN!</h1>
          <h3 id="slogan" class="background revealable active">The world isn't so <span id="outline" class="background revealable active">black</span> & white...</h3>
          <!---About Section--->
         <!--- <h2 class="lettering">About</h2> --->
          <p id="summary" class="revealable active"> <em>Get the Know Now!</em>  is an interactive website that displays major global events exactly where they're taking place. Whether the event falls under the catergory of pop cultutre, politics, or a natural disater,
            <em>GTKN!</em> will be here to report it!</p>
          </div>
          <div hidden>
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1h5QUymTiXk7TgPA0sVR6err5n-_nRPk&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
          </div>

          <script src="{{ url_for('static', filename='transition.js') }}"></script>
      </main>
  </body>


</html>